<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <div><h1 style="text-align:center" th:text="${date}+'上传数据'"></h1></div>

    <table class="table table-bordered"  align="center" border="1">
        <div style="text-align:center;">
             <a th:href="@{'/deleteView'}" th:text="按日期删除文件"></a>
        </div>

        <thead>
        <tr>
            <th class="text-danger">请输入查询日期：</th>
            <td><input id="dateId" type="date"  name="date"/></td>
            <td><input type="button" class="btn btn-success" value="查询" onclick="submit()"/></td>
        </tr>
        <tr>
            <th>编号</th>
            <th>订单号</th>
            <th>上传时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orderDir}">

            <td th:text="${itemStat.index+1}"></td>
            <td>
                <a th:href="@{'/list/'+${item.orderName}}" th:text="${item.orderName}"></a>
            </td>
            <td th:text="${item.orderDate}"></td>
            <td>
                <a th:href="@{'/dw/'+${item.orderName}}" th:text="下载"></a>
                <a th:href="@{'/delete/'+${item.orderName}}" th:text="删除"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>



<script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script><!-- 2 -->
<script src="jquery-1.10.2.min.js"></script>
<script th:inline="javascript">

    function submit() {
        var date = $("#dateId").val();
        alert(date);
       /* $.ajax({
            type: "POST",
            url: "http://localhost:8082/ws/execCmd",
            data: {
                "cmd":cmd
            },
            success: function(backData) {
                //alert(backData);
            }
        });*/
    }
</script>



</body>
</html>

