<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>


<div>
    <div>
        <div><h1 style="text-align:center"></h1></div>
        <div class="panel-heading" style="float:left;">

            <div class="input-group">

                <form id="uploadForm"  action="multifileUpload" method="post" enctype="multipart/form-data" >
                    <span>：</span>
                    <input id="orderId" type="text"  name="orderId"/>
                    <p>必传文件1: <input type="file" name="fileName"/></p>
                    <p>选择文件2: <input type="file" name="fileName"/></p>
                    <p>选择文件3: <input type="file" name="fileName"/></p>
                    <p><input type="submit" class="btn btn-success" value="提交"/></p>

                </form>


            </div>

        </div>

    </div>

</div>



<script th:src="@{jquery-1.10.2.min.js}" type="text/javascript"></script><!-- 2 -->
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script><!-- 2 -->

<script th:inline="javascript">
    //action="multifileUpload"
    function submit() {
        var orderId = $("#orderId").val();
        //alert(orderId);
       /* var cmd = $(texts[0]).val();
        //alert(cmd);*/
        $.ajax({
            type: "POST",
            url: "http://localhost:8085/multifileUpload",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function(backData) {
                alert(backData);
            }
        });
    }
</script>



</body>
</html>
