<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
   <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>


<div>
    <div>
        <div><h1 style="text-align:center">二维码激光雕刻上传系统</h1></div>

            <div style="width:100%;text-align:center">

                <form id="uploadForm">

                    <table class="table table table-hover"  align="center">
                        <tr>
                            <th class="text-danger">* 请输入订单号：</th>
                            <td><input id="orderId" type="text"  name="order"/></td>

                        </tr>
                        <tr>
                            <th class="text-danger">* 必传文件1:</th>
                            <td><input type="file" name="file1" id="file1"  multiple="multiple"  /></td>
                            <td></td>
                        </tr>
                      <!--  <tr>
                            <th class="text-primary">备注内容：</th>
                            <td><input id="remark" type="text"  name="remark"/></td>
                            <td></td>
                        </tr>-->
                    </table>
                    <button id="getResult" type="button" class="btn btn-success btn-primary btn-lg btn-block">上传</button></center>
                   <!-- <p><input type="submit" class="btn btn-success" value="提交"/></p>-->
                </form>

            </div>

    </div>

</div>






</body>
<script type="text/javascript">
    //alert(123);

    $("#getResult").click(function(){
        var orderId = $("#orderId").val();
        //alert(orderId);

        var formData = new FormData();
        formData.append("orderId", orderId);
        for(var i =0;i<$("#file1")[0].files.length;i++){
            //fd.append("files",$("#files")[0].files[i]);
            formData.append("file1", $('#file1')[0].files[i]);
        }


        $.ajax({
            url: 'upload' ,
            type: 'post',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            async: false,
            success: function (backDate) {
                var res = backDate;

                if("true"==backDate){
                    alert("文件上传成功");
                    $("#orderId").val("");
                    $("#file1").val("")
                }


            }
        })

    });


</script>
</html>
